<header class="bg-container">
  <h1 class="h1"><a href="/">Astro Pokedex</a></h1>
</header>

<style lang="scss">
  .bg-container {
    --tw-bg-opacity: 1;
    background-color: rgb(32 29 41 / var(--tw-bg-opacity));
    text-align: center;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1.h1 {
    font-size: 3rem;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(255 251 235 / var(--tw-text-opacity));
    a {
      text-decoration: none;
    }
  }
</style>
